# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/
output/

# System files
.DS_Store

# Editor directories
.vscode/
.idea/